<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Музичний чарт</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1 class="top-title">Топ пісень</h1>
    <ul id="songs_list">
        {% for song in songs %}
        <li>{{song[1]}} - {{song[2]}}</li>

        {% endfor %}

    </ul>
    <nav>
        <a href="/search">Пошук пісні</a>
        <a href="/about">About</a>
    </nav>
    <script src="/static/script.js"></script>
</body>

</html>